body {
    background-color: lightgreen;
}

#title p{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    background-color: orange;
    width: 350px;
    margin: auto;
    border-radius: 8px;
    border: 3px black solid;
    padding: 3px;
}

#homepage{
    text-align: center;
}

#homepage button a ,#homepage button{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 11px;
    font-weight: bold;
}

#recipe-card img {
    width: 550px;
    height: 333px;
        margin: 10px;
    border: 3px black solid;
    border-radius: 8px;
}
#recipe-card {
    text-align: center;
}

#description {
    text-align: center;
}

#ingredients h1 {
    text-align: center;
}

ul {
    margin: 10px auto;
}

ol {
    margin: 10px auto;
}

li {
    margin: 15px;
}

#curry img {
    width: 350px;
    height: 210px;
        margin: 10px;
    border: 3px black solid;
    border-radius: 8px;
}