body {
    background-color: rgb(31, 51, 67);
}

#title {
    text-align:center;
}

.first,.second {
    font-size: 45px;
    font-weight: bold;
    border: 1px black solid;
    padding: 3px;
    border-radius: 8px;

}

.first {
    background-color: black;
    color: white;
}
.second {
    background-color: orange;
}
/* ===================================== */
span {
    display: inline-block;
}

#recipe1 img,#recipe2 img{
    width: 306px;
    border: 3px solid;
    border-radius: 8px;
    margin: 20px 35px;
}

#recipe3 img{
    width: 306px;
    border: 3px solid;
    border-radius: 8px;
    margin: 10px;
}
#banner {
    text-align: center;

}
div#banner img {
    border: 3px solid;
    border-radius: 8px;
    width: 700px;
    height: 303px;
    margin: 20px;
}

#recipe1 button,#recipe2 button{
    display: block;
    margin: auto;
    border-radius: 15px;
    background-color: orange;
    padding: 10px 20px;
}

#recipe1 button a,#recipe2 button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

div#recipe3{
    width: 320px;
    margin: 10px auto;

}
#recipe3 button{
    display: block;
    margin: auto;
    border-radius: 15px;
    background-color: orange;
    padding: 10px 20px;

}

#recipe3 button a{
    text-decoration: none;
    color: black;
    font-size: 15px;

}

div#recipe {
    text-align: center;
    margin: 10px;
}